body{
     font-family: 'Noto Sans TC', sans-serif; 
     color: #ff4544;
     background-color: #1E0003;
 }
h1, h2, h3, h4, h5, h6{
	 font-family: 'Noto Sans TC', sans-serif;
	 color: #007bff;
}
subheading{
	font-family: 'Noto Sans TC', sans-serif;
	color: #ff4544;
}
a{
	font-family: 'Noto Sans TC', sans-serif;
    color: #ff0303; 
}
div{
	font-family: 'Noto Sans TC', sans-serif;
	color: #ff0303; 
}
.bg-primary {
    background-color: #e82719 !important;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");!important;
}
.text-primary {
    color: #b9352c!important;
}
.nav-item{
	background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
	border: #ffffff 5px ;
}
.social-icons a:hover {
  background-color: #A31435;
}
